PRODUCTION=false
## gin mode (-gin-mode)
PORT=8085
HOST=localhost
ENVIRONMENT=local

PG_LOG_LEVEL=debug
HOST=
PGPORT=5432
USER_NAME=
PASSWORD=
DB_NAME=
SSL_MODE="disable"


## JAEGER
JAEGER_ENABLED=true
JAEGER_SERVICE_NAME=""
JAEGER_ENDPOINT=
JAEGER_SAMPLER_TYPE="const"
JAEGER_SAMPLER_PARAM=0.5

# ----------- PROMETHEUS-----------
PROM_ENABLE = true
PROM_SERVICE_NAME = ads-api
#Modes includes:
# expose_metrics: service will save metrics(time series data) and expose a port that prometheus could scrape with interval time
# push_gateway: service will push metrics to prometheus pushgateway with interval time
PROM_MODE: expose_metrics
PROM_METRICS_PORT: 8091

## HTTP CLIENT

## Redis Client
REDIS_SINGLE_MODE=false
REDIS_URL = 

## Redis Sentinel
REDIS_SENTINEL_SERVER_NAME=""
REDIS_SENTINEL_URL="" ## For Local

AWS_URL=
AWS_TOKEN=
AWS_ADS_API_SCOPE=

## keycloak
KEYCLOAK_DOMAIN=

## Kafka messages broker
KAFKA_INIT_TOPIC=true
KAFKA_BROKERS=
KAFKA_POOL_SIZE=10
KAFKA_PATITION=10
KAFKA_REPLICATION=2
## Kafka client group id
KAFKA_GROUP_ID=
## Kafka retry and DLQ.
KAFKA_RETRY_ATTEMPTS=3
KAFKA_RETRY_DELAYS=5
KAFKA_PUSH_FAILED_TO_DLQ=true
KAFKA_DLQ_MESSAGE_KEY="DLQ"
## Kafka topics.
KAFKA_TOPIC_DLQ=
KAFKA_TOPIC_BUDGET_PROFILE=

## DATA Warehourse
WH_PG_LOG_LEVEL=debug
WH_HOST=
WH_PGPORT=
WH_USER_NAME=
WH_PASSWORD=
WH_DB_NAME=
WH_SSL_MODE="disable"
WH_SET_MAX_IDLE=0
WH_SET_MAX_OPEN=0
WH_SET_CONN_MAX_LIFETIME=0

## ES Service
ES_API_URL=